/*COLORS configuration*/
:root {
    --primary-color: #164e4e;
    --secondary-color: #efede8;
    --secondary2-color: #d6d2c6;
    --pink-color: #A42C19;
}
a {
    color: var(--pink-color);
}
.bg-secondary {
    background-color: var(--secondary-color) !important;
}
.text-primary {
    color: var(--primary-color) !important;
}
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-primary:hover {
    background-color: var(--pink-color);
    border-color: var(--pink-color);
}
.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-outline-primary:hover {
    background-color: var(--pink-color);
    border-color: var(--pink-color);
    color: white;
}
.bg-primary {
    background-color: var(--primary-color) !important;
}

.subheader-banner {
  /* 1. Definir el filtro (el color) con la opacidad. */
  /* La sintaxis de rgba(R, G, B, A) es clave: 'A' es la opacidad (0 a 1). */
  background-image: linear-gradient(
    rgba(22, 78, 78, 0.7), /* Filtro ROJO con 50% de opacidad */
    rgba(22, 78, 78, 0.7)  /* El filtro cubre uniformemente toda el área */
  ),
  /* 2. Definir la imagen de fondo */
  url('/img/banner-stones.webp');
  width: 100%; 
  height: 400px; 
  background-size: cover; 
  background-position: right;
}

/* TEXTS configuration */
.main-header {
    font-weight: bold;
    text-transform: uppercase;
}

.btn {
    text-transform: uppercase;
}

/* IMAGES configuration */
.main-img {
    border-radius: 500px;
}
.decorative-circle {
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: var(--pink-color);
    top: 8px;
    left: 15px;
}
.decorative-circle-2 {
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: var(--pink-color);
    top: 8px;
    right: 15px;
}
.pink-subheader {
    color: var(--pink-color);
    font-weight: bold;
    text-transform: uppercase;
}

/* SECTIONS configuration */
section {
    padding: 60px 0;
}

.brain-img {
    background-image: url('/img/brain-illustration.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}
.card {
    border: 1px solid var(--pink-color);
}
nav {
    background-color: var(--secondary2-color);
}
footer {
    background-color: var(--secondary2-color);
}
.accordion-header .accordion-button {
    font-size: 1.5rem;
    background-color: var(--secondary2-color);
}

.accordion-button:not(.collapsed) {
    background-color: var(--primary-color);
    color: white;
}

@media (min-width: 420px) {
    .decorative-circle {
        width: 90px;
        height: 90px;
        top: 16px;
        left: -3px;
    }
    .decorative-circle-2 {
        width: 90px;
        height: 90px;
        top: 16px;
        right: -3px;
    }
}

@media (min-width: 768px) {
    .decorative-circle {
        left: -8px;
    }
    .decorative-circle-2 {
        right: -8px;
    }
}

@media (min-width: 1200px) {
    .decorative-circle {
        left: 30px;
    }
    .decorative-circle-2 {
        right: 30px;
    }
}

@media (min-width: 1400px) {
    .decorative-circle {
        width: 120px;
        height: 120px;
        top: 16px;
        left: 20px;
    }
    .decorative-circle-2 {
        width: 120px;
        height: 120px;
        top: 16px;
        right: 20px;
    }
}
